<section class="posts">

    <article>

        {{ $paginator := .Paginate (where .Pages "Type" "post") }}
        {{ range $paginator.Pages }}

            {{ partial "image.html" . }}

            {{ partial "title.html" . }}

            {{ partial "date.html" . }}

            <section>
                <p>{{ .Summary }}</p>
            </section>

            <p><a href="{{ .RelPermalink }}">Read More...</a></p>

            <hr />

            <br />

        {{ end }}

    </article>

    {{ partial "pagination.html" . }}

</section>